.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "title-header"
    "box-1"
    "box-2"
    "box-3"
    "."
    ;
}

.title-header {
    grid-area: title-header;
    text-align: center;
}

.about-box-1{
    grid-area: box-1;
    text-align: center;
}

.about-box-2{
    grid-area: box-2;
    text-align: center;
}

.about-box-3{
    grid-area: box-3;
    text-align: center;
}