.container {
    background-color: #293241;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "title-header"
    "about-box-1"
    "about-box-2"
    "about-box-3"
    "."
    ;
}

.title-header {
    grid-area: title-header;
    text-align: center;
    background-color: #293241;
    color: #f4eb95;
    margin: 3%;
}

.about-box-1{
    grid-area: about-box-1;
    text-align: center;
    background-color: #3D5A80;
    padding: 5%;
    border-radius: 20px;
    margin: 5%;
}

.about-box-2{
    grid-area: about-box-2;
    text-align: center;
    background-color: #3D5A80;
    padding: 5%;
    border-radius: 20px;
    margin: 5%;
}

.about-box-3{
    grid-area: about-box-3;
    text-align: center;
    background-color: #3D5A80;
    padding: 5%;
    border-radius: 20px;
    margin: 5%;
}

.about-btn {
    background-color: #EE6C4D;
    cursor: pointer;
    border-radius: 6px;
    backface-visibility: hidden;
    border-width: 0;
    box-sizing: border-box;
    font-size: 100%;
    height: 44px;
    line-height: 1.15;
    margin: 12px;
    outline: none;
    overflow: hidden;
    padding: 0 25px;
    position: relative;
    text-align: center;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
}