.upload-game-btn {
  align-items: center !important;
  color: black !important;
  background-color: #fb8500 !important;
  border: 2px solid !important;
  border-color: #fb8500 !important;
  width: 50% !important;
  height: auto !important;
  font-size: 1.75rem !important;
  font-weight: 600 !important;
  text-transform: uppercase;
  margin-top: 50px !important;
  border-radius: 4px !important;
  box-sizing: border-box !important;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
}

.upload-game-btn:hover {
  background-color: #fb8500 !important;
  border: 2px solid !important;
  border-color: black !important;
}

.table-btn {
    color: black !important;
    background-color: #FFB703 !important;
    border: 2px solid !important;
    border-color: #FFB703 !important;
    width: 200px;
}

.table-btn:hover {
    background-color: #FFB703 !important;
    border: 2px solid !important;
    border-color: black !important;
}