.container {
    display: grid;
    /* grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr; */
    grid-gap: 3%;
    padding: 3%;
    grid-template-areas: 
    "headline-content headline-content"
    "box-1 box-2"
    "box-3 box-4"
    ;
}

body {
    background-color: orange;
}

.headline-content {
    grid-area: headline-content;
    background-color: white;
    text-align: center;
    padding: 3%;
    border-radius: 1%;
}

.headline-text {
    padding-bottom: 2%;
}

.head-image {
    background-color: aqua;
    background-size: cover;
    height: 150px;
    padding-top: 10px;
    margin-bottom: 15px;
    border-radius: 15px;
}

.head-btn {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 5%;
    margin-top: 2%;
    cursor: pointer;
    border-radius: 5%;
    width: 30%;
}

.head-btn:hover {
    color: red;
    cursor: pointer;   
}

.box-1 {
    grid-area: box-1;
    background-color: red;
    text-align: center;
    padding: 3%;
    border-radius: 3%;
}

.box-2 {
    grid-area: box-2;
    background-color: Green;
    text-align: center;
    padding: 3%;
    border-radius: 3%;
}

.box-3 {
    grid-area: box-3;
    background-color: yellow;
    text-align: center;
    padding: 3%;
    border-radius: 3%;
}

.box-4 {
    grid-area: box-4;
    background-color: blue;
    text-align: center;
    padding: 3%;
    border-radius: 3%;
}
/* .card {
    background: white;
    width: 300px;
    margin: 10px;
    border-radius: 15px;
}

.card-image {
    background-color: aqua;
    background-size: cover;
    height: 150px;
    margin-bottom: 15px;
    border-radius: 15px 15px 0 0;
}

.card h2 {
    padding: 10px
}

.card p {
    padding: 10px;
}

.card button {
    background-color: black;
    color: white;
    padding: 15px 20px;
    display: block;
    text-align: center;
    border-radius: 5px;
    margin: 20px;
}  */
