
.page-desc {
  display: flex;
  justify-content: center;
  color: #023047;
  margin-top: 5%;
}

.login-fields {
  justify-content: center;
}

.login-btn {
  margin-top: 5% !important;
  display: flex !important; 
  text-align: right !important;
  align-items: center !important;
  justify-content: center !important;
  width: 100%;
  background-color: #FB8500 !important; 
  border: 2px solid !important; 
  border-color: #FB8500 !important;
  outline: none !important ;
  overflow: hidden !important;
  color: black !important;
  border-radius: 4px !important;
  height: auto !important;
  text-transform: uppercase !important;
}

.login-btn:hover {
  background-color: #FB8500 !important;
  border: 2px solid !important;
  border-color: black !important;
}
