.download-container{
    align-items: center;
    justify-content: center;
    display: grid;
}

.windows-cta {
    padding-top: 5%;
    padding-bottom: 5%;
}

.git-cta {
    padding-top: 5%;
    padding-bottom: 5%;
}

.download-btn {
    width: 100%;
    color: black;
    border: 2px solid;
    border-color: #FB8500;
    background-color: #FB8500;
    cursor: pointer;
    border-radius: 4px;
    text-transform: uppercase;
    backface-visibility: hidden;
    box-sizing: border-box;
    font-size: 100%;
    height: 44px;
    line-height: 1.15;
    outline: none;
    overflow: hidden;
    margin: 10px;
    padding: 0 25px;
    position: relative;
    text-align: center;
}

.download-btn:hover {
    color: black;
    border: 2px solid;
    border-color: black;
    background-color: #FB8500;
}

.gm-btn {
    width: 100%;
    color: black;
    border: 2px solid;
    border-color: #ffc107;
    background-color: #ffc107;
    cursor: pointer;
    border-radius: 4px;
    text-transform: uppercase;
    backface-visibility: hidden;
    border-width: 0;
    box-sizing: border-box;
    font-size: 100%;
    height: 44px;
    line-height: 1.15;
    outline: none;
    overflow: hidden;
    margin: 10px;
    padding: 0 25px;
    position: relative;
    text-align: center;
}
.gm-btn:hover {
    color: black;
    border: 2px solid;
    border-color: black;
    background-color: #ffc107;
}
