* {
  padding: 0%;
  margin: 0%;
} 

.title {
  font-size: 5rem !important;
  font-weight: 600 !important;
  margin-top: 5% !important;
  margin-left: auto !important;
  margin-right: auto !important;
}



.sub-title {
  margin-left: auto !important;
  margin-right: auto !important;
  font-size: 1.5rem !important;
  text-align: center;
}


.download-cta {
  align-items: center !important;
  color: black !important;
  background-color: #FB8500 !important;  
  border: 2px solid !important;
  border-color: #FB8500 !important;
  width: 35% !important;
  min-width: 200px !important;
  height: auto !important;
  font-size: 1.3rem !important;
  font-weight: 600 !important;
  text-transform: uppercase;
  margin-top: 50px !important;
  border-radius: 4px !important;
  box-sizing: border-box !important;
  margin-left: auto;
  margin-right: auto;
}

.download-cta:hover {
  background-color: #FB8500 !important;
  border: 2px solid !important;
  border-color: black !important;
}

.game-cta {
  color: black !important;
  background-color: #FFB703 !important;  
  border: 2px solid !important;
  border-color: #FFB703 !important;
  width: 35% !important;
  min-width: 200px !important;
  height: auto !important;
  font-size: 1.3rem !important;
  font-weight: 600 !important;
  text-transform: uppercase;
  margin-top: 50px !important;
  border-radius: 4px !important;
  box-sizing: border-box !important;
  margin-left: auto;
  margin-right: auto;
}

.game-cta:hover {
  background-color: #FFB703 !important;
  border: 2px solid !important;
  border-color: black !important;
}


.make-game-cta {
  color: black !important;
  background-color: #FFD903 !important;  
  border: 2px solid !important;
  border-color: #FFD903 !important;
  width: 35% !important;
  height: auto !important;
  font-size: 1.3rem !important;
  font-weight: 600 !important;
  text-transform: uppercase;
  margin-top: 50px !important;
  border-radius: 4px !important;
  box-sizing: border-box !important;
  margin-left: auto;
  margin-right: auto;
}

.make-game-cta:hover {
  background-color: #FFD003 !important;
  border: 2px solid !important;
  border-color: black !important;
}



.section-title{
  margin-left: 10px;
  padding-top: 10px;
  font-weight: 800;
  font-size: 2rem;
}

.custom-cardOne {
  padding: 10px !important;
  margin-bottom: 60px !important;
  background-color: "#009DDC" !important;
}

.custom-card {
  padding: 10px !important;
  margin: 10px !important;
  background-color: "#009DDC" !important;
}

.learnMoreBtns {
  background-color: #FB8500 !important;
  border-color: #FB8500 !important;
  border-radius: 4px !important;
  color: black !important;
  border: 2px solid;
}

.learnMoreBtns:hover {
  border-color: #FB8500 !important;
  border: 2px solid !important;
  border-color: black !important;
}

@media only screen and (max-width: 450px) {
  .download-cta {
    align-items: center !important;
    color: black !important;
    background-color: #FB8500 !important;  
    border: 2px solid !important;
    border-color: #FB8500 !important;
    width: 50% !important;
    height: auto !important;
    font-size: 1.5rem !important;
    font-weight: 600 !important;
    text-transform: uppercase;
    margin-top: 50px !important;
    border-radius: 4px !important;
    box-sizing: border-box !important;
    margin-left: auto;
    margin-right: auto;
  }

  .download-cta:hover {
    background-color: #FB8500 !important;
    border: 2px solid !important;
    border-color: black !important;
  }

  .game-cta {
    color: black !important;
    background-color: #FFB703 !important;  
    border: 2px solid !important;
    border-color: #FFB703 !important;
    width: 50% !important;
    height: auto !important;
    font-size: 1.5rem !important;
    font-weight: 600 !important;
    text-transform: uppercase;
    margin-top: 50px !important;
    border-radius: 4px !important;
    box-sizing: border-box !important;
    margin-left: auto;
    margin-right: auto;
  }

  .game-cta:hover {
    background-color: #FFB703 !important;
    border: 2px solid !important;
    border-color: black !important;
  }
}

@media only screen and (max-width: 385px) {
  .title {
    font-size: 4.5rem;
    font-weight: 600;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
  }

  .download-cta {
    align-items: center !important;
    color: black !important;
    background-color: #FB8500 !important;  
    border: 2px solid !important;
    border-color: #FB8500 !important;
    width: 50% !important;
    height: auto !important;
    font-size: 1.25rem !important;
    font-weight: 600 !important;
    text-transform: uppercase;
    margin-top: 50px !important;
    border-radius: 4px !important;
    box-sizing: border-box !important;
    margin-left: auto;
    margin-right: auto;
  }

  .download-cta:hover {
    background-color: #FB8500 !important;
    border: 2px solid !important;
    border-color: black !important;
  }

  .game-cta {
    color: black !important;
    background-color: #F2B830 !important;  
    border: 2px solid !important;
    border-color: #F2B830 !important;
    width: 50% !important;
    height: auto !important;
    font-size: 1.25rem !important;
    font-weight: 600 !important;
    text-transform: uppercase;
    margin-top: 50px !important;
    border-radius: 4px !important;
    box-sizing: border-box !important;
    margin-left: auto;
    margin-right: auto;
  }

  .game-cta:hover {
    background-color: #F2B830 !important;
    border: 2px solid !important;
    border-color: black !important;
  }
}