/* @import url('https://fonts.googleapis.com/css?family=Alfa Slab One');

* {
  font-family: 'Alfa Slab One';
  padding: 0%;
  margin: 0%;
} */

.title {
  font-size: 6rem;
  font-weight: 600;
  /* margin-top: 5%;
  margin-left: 10%; */
}

.sub-title {
  /* margin-left: 12%; */
}

.downlad-cta {
  color:black;
  border: 2px solid;
  background-color: #F26430;
  border-color: #F26430;
  width: 40%;
  padding: 20px;
  height: auto;
  font-size: 1.75rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 50px;
  margin-left: 200px;
  border-radius: 4px;
  box-sizing: border-box;
}

.downlad-cta:hover {
  background-color: #F26430;
  border: 2px solid;
  border-color: black;
}

.game-cta {
  color:black;
  border: 2px solid;
  background-color: #F2B830;
  border-color: #F2B830;
  width: 40%;
  padding: 20px;
  height: auto;
  font-size: 1.75rem;
  margin-top: 50px;
  margin-left: 200px;
  margin-bottom: 50px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 4px;
  box-sizing: border-box;
}

.game-cta:hover {
  border-color: #F2B830;
  border: 2px solid;
  border-color: black;
}

.section-title{
  margin-left: 10px;
  padding-top: 30px;
}

.custom-card {
  padding: 10px !important;
  margin: 10px !important;
  background-color: "#009DDC" !important;
}

.learnMoreBtns {
  background-color: #F2B830 !important;
  border-color: #F2B830 !important;
  border-radius: 4px !important;
  color: black !important;
  border: 2px solid;
}

.learnMoreBtns:hover {
  border-color: #F2B830 !important;
  border: 2px solid !important;
  border-color: black !important;
}
