.main-footer {
    color: #FFB703;
    background-color: #023047;
    padding-top: 3em;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top:auto
  }

.external-links {
  color: #FFB703
}

.external-links:hover
{
  color:#ffffff
}