.sidebar {
    height: 100vh;
    width: 30vh;
    background-color: #293241;
}

.sidebarList {
    height: auto;
    width: 30vh;
    padding: 0;
}

.sidebarList .row {
    width: 100%;
    height: 12vh;
    list-style-type: none;
    margin: 0%;
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.sidebarList .row:hover {
    cursor: pointer;
    background-color: #3D5A80;
}

/* .row {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
} */

.row #title{
    flex: 70%;
} 

.row a {
    color: #000;
    text-decoration: none;
}
/* .row a {
    text-decoration: none;
    color: #EE6C4D;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
} */

span {
    margin-left: 16px;
}