.sidebar-container{
    display:flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.sidebar{
    background: #293241;
    color: #fff;
    height: 100%;
    width: 200px;
    transition: all 0.5s;
    text-decoration: none;
}

.sidebar .row {
    width: 100%;
    height: 12vh;
    list-style-type: none;
    margin: 0%;
    padding: 5%;
    display: flex;
    
}
.top_section{
    display: flex;
    align-items:center;
    padding:20px 15px;
}
.logo{
    font-size: 30px;
    color: #EE6C4D;
    padding-left: 15%;
}
.bars{
    /* display: flex; */
    font-size: 25px;
    margin-left: 50px;
    align-items: right;
    color: #EE6C4D;
}
.link{
    display: flex;
    color: white;
    padding: 17px 15px;
    gap: 30px;
    transition: all 0.5s;
    text-decoration: none;
}
.link:hover{
    background: #3D5A80;
    color: #EE6C4D;
    transition: all 0.5s;
}
/* .active{
    background: #3D5A80;
    color: #EE6C4D;
} */
.icon, .link_text{
    font-size: 20px;
}

.link_text{
overflow: hidden;
}