.tut-main-container{
    margin: auto;
    display: flex;
    flex-direction:row;
}

.tut-content{
    margin: 0 auto 0 auto;
    width: 70%;
}

.par-text{
    
}


.tut-cta-btn{
    background-color: #EE6C4D !important;
    min-width: 30%;
    cursor: pointer;
    border-radius: 6px;
    backface-visibility: hidden;
    border-width: 0;
    box-sizing: border-box;
    font-size: 100%;
    height: 44px;
    line-height: 1.15;
    margin: auto;
    left: 0%;
    outline: none !important;
    border-color: #EE6C4D !important;
    overflow: hidden;
    padding: 0 25px;
    position: relative;
    text-align: center;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
}
.tutorial-container {
  display: flex;
}

.tutorial-content-container {
  flex-grow: 1;
  padding: 10px;
}

.gray-highlight {
  background-color: rgba(0, 0, 0, 0.05);
  padding: 5px;
  color: black;
  font-weight: bold;
}

.blue-container {
  background-color: rgba(0, 119, 255, 0.1);
  padding: 10px;
}

/* .tutorial-image {
  width: 100%;
  margin: 16px 0;
} */
