.tut-main-container{
    
}

@media only screen and (max-width: 425px) {
  .tut-main-container {
    display: block !important;    
  }
  .card-comp{
    max-width: 15.2rem !important;
    margin-bottom: 2% !important;
  }
}

.gray-highlight {
  background-color: rgba(0, 0, 0, 0.05);
  padding: 5px;
  color: black;
  font-weight: bold;
}

.blue-container {
  background-color: rgba(0, 119, 255, 0.1);
  padding: 10px;
}

.card-comp{
  width:  30rem !important;
  margin: 3%;
  box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

.card-btn{
    color: black !important;
    background-color: #FFB703 !important;  
    border: 2px solid !important;
    border-color: #FFB703 !important;
    width: 100% !important;
    font-size: 1.2rem !important;
    font-weight: 600 !important;
    text-transform: uppercase;
    margin-top: 50px !important;
    border-radius: 4px !important;
    box-sizing: border-box !important;
    margin-top:10%;
    bottom: 0 !important;

}

.card-btn:hover {
  background-color: #FFB703 !important;
  border: 2px solid !important;
  border-color: black !important;
}
.card-img{
  max-height: 54% !important;
}















/* .tut-cta-btn{
  background-color: #EE6C4D !important;
  min-width: 30%;
  cursor: pointer;
  border-radius: 6px;
  backface-visibility: hidden;
  border-width: 0;
  box-sizing: border-box;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: auto;
  left: 0%;
  outline: none !important;
  border-color: #EE6C4D !important;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
} */