
.pagination {
    display: inline-block;
}

.pagination a {
    color: white;
    
    padding: 8px 10px;
    text-decoration: none;
}

.pagination a {
    border-radius: 5px;
}

.pagination a.active {
    background-color: white;
    color: white;
  }
  
  .pagination a:hover:not(.active) {background-color: #ddd;}
.Filter-btn {

    background-color: #ec7211;
    border: none;
    color: #023047;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;  
    height: 40px;
    padding: 8px 8px;
}

select.mySelect{
    background:  #ec7211;
    color: #023047;
    padding: 0 10px;
    font-size: 12px; 
    height: 40px;
}
select.mySelect option{
	color: #000;
    padding: 0 10px;
}

input {
    height: 40px;
    padding: 8px;
    font-size: 12px; 
    text-align: center;
}

.q-title {
    text-align: center;
    justify-content: center;
}

.que-container {
    background-color: #fff;
}
.que-rating span {
    display: inline-block;
}

.float-left{
    float: left;
}
.float-right{
    float: right;
}
.user-image {
    width: 30%;
}

.user-info {
    width: 70%;
}
.que-wrapper {
   
    padding-left: 12px;
    padding-right: 12px;
    margin-top: 20px;
}
.user-image img {
    border: 1px solid #000;
    padding: 20px;
    border-radius: 50%;
}
.que-tags {
    margin: 15px 0px;
}
.que-user-wrapper{
    background-color: #dbe2e2;
}
.que-user-wrapper {
    padding: 10px 0 6px 0;
}
.que-inner-wrapper {
    /* margin: 15px; */
    border: 1px solid #dbe2e2;
    /* padding: 1rem 1rem 0rem 1rem; */
    border-radius: 0.3rem;
    animation: QuestionCard_fadeIn__ZK0Lm .5s ease-in-out;
    
}
.filter {
    float: right;
}

span.tag{
    line-height: .875rem;
    margin-right: 0.25rem;
    padding: 0.25rem 0.5rem;
    font-size: .75rem;
    letter-spacing: .01em;
    color: #232f3e;
    border-radius: 16px;
    background-color: transparent;
    border: 1px solid #a1a8af;
}

div a {
    color: black;
    text-decoration: none;
}

.community-btn {
    display: flex !important;
    align-items: center !important;
    text-align: center !important;
    color: black !important;
    background-color: #FB8500 !important;  
    border: 2px solid !important;
    border-color: #FB8500 !important;
    width: auto !important;
    height: auto !important;
    font-weight: 400 !important;
    text-transform: uppercase;
    margin-top: 8px !important;
    border-radius: 4px !important;
    box-sizing: border-box !important;
    margin-left: auto;
    margin-right: auto;
}

.community-btn:hover {
    background-color: #FB8500 !important;
    border: 2px solid !important;
    border-color: black !important;
}

.community-btn-modal {
    color: black !important;
    background-color: #FB8500 !important;  
    border: 2px solid !important;
    border-color: #FB8500 !important;
    width: auto !important;
    height: auto !important;
    font-weight: 400 !important;
    text-transform: uppercase;
    border-radius: 4px !important;
    box-sizing: border-box !important;
}

.community-btn-modal:hover {
    background-color: #FB8500 !important;
    border: 2px solid !important;
    border-color: black !important;
}
