.questions-title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #232f3e;
    line-height: 1.3rem;
    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: 0;
    margin: 10px;
    text-align: left;
    height: 400px;
    word-break: keep-all;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.questions-desc {
    display: flex;
    color: #545b64;
    font-size: 1rem;
    letter-spacing: 0;
    line-height: 1.1rem;
    margin: 10px;
    height: 500px;
    padding: 20px;
}

.questions-desc-and-title {
    display: flex;
    flex-direction: column;
    text-overflow: ellipsis;
    overflow:hidden;
    white-space: pre-wrap;
    height: 600px;

}

.questions-action-block {
    margin-left: 0px;
    width: 100%;
    height: 100px;
    border-top: 1px solid #dbe2e2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 1rem;
    background-color: #f7f8f9;
    color: black !important;
}

.question-level-1 {
    height: 11rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    margin-bottom: -1rem;
}

.action-block-1 {
    justify-content: space-between;
    display: flex;
    box-sizing: border-box;
}

.action-block-1 {
    display: flex;
    align-items: center;
    height: 3.125rem;
    min-width: 0;
    box-sizing: border-box;
}

.question-answer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #545b64;
    font-size: .75rem;
    font-weight: bold;
    line-height: 1.8rem;
    text-align: center;
    color: #16191f
}

.question-views {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #545b64;
    line-height: 1.8rem;
    text-align: center;
    color: #16191f;
    font-size: .75rem;
    font-weight: bold;
}

.question-user-date {
    margin-left: 2rem;
    color: #545b64;
    font-size: .75rem;
    letter-spacing: .01em;
    line-height: .8rem;
    margin-bottom: 0 !important;
    flex-shrink: 0;
}

.question-user-name {
    font-size: .88rem;
    letter-spacing: 0;
    height: 1.25rem;
    line-height: 1.25rem;
    max-width: 10rem;
    flex-shrink: 0;
    margin-bottom: 0.25rem;
}


.login-cancel-button {
    background: transparent;
    color: #545b64;
    border: 1px solid #545b64;
    height: 1.75rem;
    font-weight: 500;
    border-radius: 2px;
    font-size: .9rem;
    letter-spacing: 0;
    text-align: center;
    padding: 0 1rem;
    line-height: 1.5715;
    position: relative;
    display: inline-block;
    font-weight: 400;
    white-space: nowrap;
}

.login-do-button {
    margin-left: 8px;
    color: white;
    border: 1px solid #ec7211;
    height: 1.75rem;
    font-weight: 500;
    border-radius: 2px;
    font-size: .9rem;
    letter-spacing: 0;
    text-align: center;
    padding: 0 1rem;
    line-height: 1.5715;
    position: relative;
    display: inline-block;
    font-weight: 400;
    background-color: #ec7211;
    white-space: nowrap;
}

.questions-title:hover {
    color: #0073bb;
}

.questions-desc:hover {
    color: #0073bb;
}

.follow-btn {
    font-size: x-large;
    font-weight: 600;
}

.que-tags {
    display: flex;
    text-align: center;
    align-items: center;
}

.question-interactions {
    width: "auto";
    margin: "40px";
    padding: "40px";
}

.question-btn:hover {
    background-color: #ec7211;
    border-color: black;
    color: black;
}