.bg-navContainer{
  background: white;
}

.custom-btn {
  background-color: #F26430 !important; 
  border: 2px solid !important; 
  border-color: #F26430 !important;
  outline: none !important ;
  overflow: hidden !important;
  color: black !important;
  border-radius: 4px !important;
  height: auto !important;
  text-transform: uppercase !important;
}

.custom-btn:hover {
  background-color: #F26430 !important;
  border: 2px solid !important;
  border-color: black !important;
}